/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Author: Saul Pierotti
Mail: saul@ebi.ac.uk
----------------------------------------------------------------------------------------
*/

manifest {
    author = "Saul Pierotti"

    // raise a warning if using a different nextflow version than the one used in the
    // development of the pipeline
    nextflowVersion = "24.04.2"
}

// short name of the project, used also for prefixing the results and cache
manifest.name = "medaka_behaviour_pilot"

// Configuration via labels
process {
    withLabel: "ffmpeg" {
        conda = "ffmpeg=6.1.1"
    }
    withLabel: "python_opencv_numpy_pandas" {
        conda = "python=3.12.2 opencv=4.9.0 numpy=1.26.4 pandas=2.2.1"
    }
    withLabel: "idtrackerai" {
        conda = "${projectDir}/envs/idtrackerai.yaml"
    }
    withLabel: "r_tidyverse_datatable" {
        conda = "r-base=4.3.3 r-tidyverse=2.0.0 r-data.table=1.15.4 r-r.utils=2.12.3"
    }

    withName: "set_split_coords" {
        publishDir = [
            path: { "${params.outdir}/split_coords" },
            mode: 'copy',
        ]
    }
    withName: "track_video" {
        publishDir = [
            path: { "${params.outdir}/tracking_results" },
            mode: 'copy',
        ]
    }
    withName: "assign_ref_test" {
        publishDir = [
            path: { "${params.outdir}/trajectories_csv" },
            mode: 'copy',
        ]
    }
    withName: "visualise_identities" {
        publishDir = [
            path: { "${params.outdir}/identities" },
            mode: 'copy',
        ]
    }
    withName: "aggregate_tracking_accuracy" {
        publishDir = [
            path: { "${params.outdir}" },
            mode: 'copy',
        ]
    }

    cpus   = { 1    * task.attempt }
    memory = { 6.GB * task.attempt }
    time   = { 4.h  * task.attempt }
    errorStrategy  = "retry"
    maxRetries = 3
}

params {
    outdir = null
    time_interval = null
    idtrackerai_params = null
    input_tracking = null
}