/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Author: Saul Pierotti
Mail: saul@ebi.ac.uk
----------------------------------------------------------------------------------------
*/

manifest {
    author = "Saul Pierotti"

    // raise a warning if using a different nextflow version than the one used in the
    // development of the pipeline
    nextflowVersion = "24.04.2"
}

// short name of the project, used also for prefixing the results and cache
manifest.name = "medaka_behaviour_pilot"

// Configuration via labels
process {
    withLabel: "ffmpeg" {
        conda = "ffmpeg=6.1.1"
    }
    withLabel: "python_opencv_numpy_pandas" {
        conda = "python=3.12.2 opencv=4.9.0 numpy=1.26.4 pandas=2.2.1"
    }
    withLabel: "idtrackerai" {
        conda = "${projectDir}/envs/idtrackerai.yaml"
    }
    withLabel: "r_tidyverse_datatable" {
        conda = "r-base=4.3.3 r-tidyverse=2.0.0 r-data.table=1.15.4 r-r.utils=2.12.3"
    }
    withLabel: "python_hmmlearn_numpy_pandas" {
        conda = "python=3.12.2 numpy=1.26.4 pandas=2.2.1 hmmlearn=0.3.2"
    }

    withName: "split_videos" {
        publishDir = [
            path: { "${params.outdir}/split_videos" },
            mode: 'copy',
        ]
    }
    withName: "set_split_coords" {
        publishDir = [
            path: { "${params.outdir}/split_coords" },
            mode: 'copy',
        ]
    }
    withName: "track_video" {
        publishDir = [
            path: { "${params.outdir}/tracking_results" },
            mode: 'copy',
        ]
    }
    withName: "assign_ref_test" {
        publishDir = [
            path: { "${params.outdir}/trajectories_csv" },
            mode: 'copy',
        ]
    }
    withName: "visualise_identities" {
        publishDir = [
            path: { "${params.outdir}/identities" },
            mode: 'copy',
        ]
    }
    withName: "aggregate_tracking_stats" {
        publishDir = [
            path: { "${params.outdir}" },
            mode: 'copy',
        ]
    }
    withName: "compute_metrics" {
        publishDir = [
            path: { "${params.outdir}/metrics/time_interval_${meta.time_step}" },
            mode: 'copy',
        ]
    }
    withName: "visualise_metrics" {
        publishDir = [
            path: { "${params.outdir}/metrics_videos/time_interval_${meta.time_step}" },
            mode: 'copy',
        ]
    }
    withName: "run_hmm" {
        memory = "10 GB"
        time = "3 days"
        publishDir = [
            path: { "${params.outdir}/hmm" },
            mode: 'copy',
        ]
    }
    withName: "hmm_cross_validation" {
        memory = { 10.GB * task.attempt }
        time = "3 days"
        publishDir = [
            path: { "${params.outdir}/hmm_cross_validation" },
            mode: 'copy',
        ]
    }
    withName: "combine_concordance" {
        publishDir = [
            path: { "${params.outdir}/hmm_cross_validation" },
            mode: 'copy',
        ]
    }

    cpus   = { 1    * task.attempt }
    memory = { 6.GB * task.attempt }
    time   = { 4.h  * task.attempt }
    errorStrategy  = "retry"
    maxRetries = 3
}

params {
    outdir = null
    idtrackerai_params = null
    cab_coords = null
    input_tracking = null
    input_hmm = null
    time_step = null
    time_step_selected = null
    n_states = null
    n_states_selected = null
    hmm_cv_splits = null
    split_vids = null
}